<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057460991601-52ma484ssvjk2fedjkn1acvrmdghr8r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057460991601-52ma484ssvjk2fedjkn1acvrmdghr8r3</string>
	<key>API_KEY</key>
	<string>AIzaSyCfPlle-VD6WoTg0J3a7d5JiOFL0M_dg0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1057460991601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>norbitApp</string>
	<key>PROJECT_ID</key>
	<string>norbit-cc77c</string>
	<key>STORAGE_BUCKET</key>
	<string>norbit-cc77c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057460991601:ios:a7ee5a211758369b1acdd0</string>
</dict>
</plist>